--
-- PostgreSQL database dump
--

\restrict xfYipcGguTBvHupAfkHLLZycocw8AAfuxKsAW0S4Cco5Gf8ub9Wfpc8Aiz8fJXq

-- Dumped from database version 17.7 (bdd1736)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_session_jwt; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_session_jwt WITH SCHEMA public;


--
-- Name: EXTENSION pg_session_jwt; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_session_jwt IS 'pg_session_jwt: manage authentication sessions using JWTs';


--
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA neon_auth;


--
-- Name: pgrst; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA pgrst;


--
-- Name: pre_config(); Type: FUNCTION; Schema: pgrst; Owner: -
--

CREATE FUNCTION pgrst.pre_config() RETURNS void
    LANGUAGE sql
    AS $$
  SELECT
      set_config('pgrst.db_schemas', 'public', true)
    , set_config('pgrst.db_aggregates_enabled', 'true', true)
    , set_config('pgrst.db_anon_role', 'anonymous', true)
    , set_config('pgrst.jwt_role_claim_key', '.role', true)
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.account (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "accountId" text NOT NULL,
    "providerId" text NOT NULL,
    "userId" uuid NOT NULL,
    "accessToken" text,
    "refreshToken" text,
    "idToken" text,
    "accessTokenExpiresAt" timestamp with time zone,
    "refreshTokenExpiresAt" timestamp with time zone,
    scope text,
    password text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


--
-- Name: invitation; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.invitation (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "organizationId" uuid NOT NULL,
    email text NOT NULL,
    role text,
    status text NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "inviterId" uuid NOT NULL
);


--
-- Name: jwks; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.jwks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "publicKey" text NOT NULL,
    "privateKey" text NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "expiresAt" timestamp with time zone
);


--
-- Name: member; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.member (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "organizationId" uuid NOT NULL,
    "userId" uuid NOT NULL,
    role text NOT NULL,
    "createdAt" timestamp with time zone NOT NULL
);


--
-- Name: organization; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.organization (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    logo text,
    "createdAt" timestamp with time zone NOT NULL,
    metadata text
);


--
-- Name: project_config; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.project_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    endpoint_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    trusted_origins jsonb NOT NULL,
    social_providers jsonb NOT NULL,
    email_provider jsonb,
    email_and_password jsonb,
    allow_localhost boolean NOT NULL,
    plugin_configs jsonb,
    webhook_config jsonb
);


--
-- Name: session; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.session (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    token text NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "userId" uuid NOT NULL,
    "impersonatedBy" text,
    "activeOrganizationId" text
);


--
-- Name: user; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth."user" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "emailVerified" boolean NOT NULL,
    image text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    role text,
    banned boolean,
    "banReason" text,
    "banExpires" timestamp with time zone
);


--
-- Name: verification; Type: TABLE; Schema: neon_auth; Owner: -
--

CREATE TABLE neon_auth.verification (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    identifier text NOT NULL,
    value text NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: control_periodos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.control_periodos (
    id integer NOT NULL,
    id_empresa integer NOT NULL,
    periodo_anio integer NOT NULL,
    periodo_mes integer NOT NULL,
    estado character varying(20) NOT NULL,
    tipo character varying(20) DEFAULT 'mensual'::character varying,
    fecha_apertura timestamp without time zone,
    fecha_cierre timestamp without time zone,
    usuario_cierre character varying(100),
    notas text
);


--
-- Name: TABLE control_periodos; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.control_periodos IS 'Control de apertura y cierre de per├¡odos contables';


--
-- Name: control_periodos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.control_periodos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: control_periodos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.control_periodos_id_seq OWNED BY public.control_periodos.id;


--
-- Name: dim_cuenta; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dim_cuenta (
    id integer NOT NULL,
    codigo character varying(20) NOT NULL,
    nombre character varying(200) NOT NULL,
    imput integer,
    es_resultado boolean,
    tipo_subcta integer,
    moneda integer,
    nivel integer NOT NULL,
    activa boolean DEFAULT true,
    fecha_creacion timestamp without time zone DEFAULT now(),
    rubro character varying(100),
    tipo character varying(50)
);


--
-- Name: TABLE dim_cuenta; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.dim_cuenta IS 'Plan de cuentas unificado para todas las empresas';


--
-- Name: dim_cuenta_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.dim_cuenta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: dim_cuenta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.dim_cuenta_id_seq OWNED BY public.dim_cuenta.id;


--
-- Name: dim_empresa; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dim_empresa (
    id integer NOT NULL,
    codigo character varying(10) NOT NULL,
    nombre character varying(200) NOT NULL,
    cuit character varying(20),
    activa boolean DEFAULT true,
    fecha_creacion timestamp without time zone DEFAULT now()
);


--
-- Name: TABLE dim_empresa; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.dim_empresa IS 'Cat├ílogo de empresas del grupo';


--
-- Name: dim_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.dim_empresa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: dim_empresa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.dim_empresa_id_seq OWNED BY public.dim_empresa.id;


--
-- Name: libro_diario_abierto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.libro_diario_abierto (
    id bigint NOT NULL,
    id_empresa integer NOT NULL,
    fecha_asiento date NOT NULL,
    tipo_asiento integer,
    nro_asiento integer NOT NULL,
    nro_renglon integer NOT NULL,
    codigo_cuenta character varying(20) NOT NULL,
    descripcion_cuenta character varying(200),
    descripcion_movimiento text,
    tipo_subcta integer,
    nro_subcuenta numeric,
    tipo_comprobante integer,
    sucursal integer,
    nro_comprobante numeric,
    nombre_tercero character varying(200),
    debe numeric(18,2) DEFAULT 0,
    haber numeric(18,2) DEFAULT 0,
    periodo_anio integer NOT NULL,
    periodo_mes integer NOT NULL,
    fecha_carga timestamp without time zone DEFAULT now(),
    fecha_carga_original timestamp without time zone,
    descripcion_asiento text,
    referencia character varying(50)
);


--
-- Name: TABLE libro_diario_abierto; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.libro_diario_abierto IS 'Movimientos contables de los ├║ltimos 6 meses (hot storage)';


--
-- Name: libro_diario_abierto_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.libro_diario_abierto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: libro_diario_abierto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.libro_diario_abierto_id_seq OWNED BY public.libro_diario_abierto.id;


--
-- Name: libro_diario_historico; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.libro_diario_historico (
    id bigint NOT NULL,
    id_empresa integer NOT NULL,
    fecha_asiento date NOT NULL,
    tipo_asiento integer,
    nro_asiento integer NOT NULL,
    nro_renglon integer NOT NULL,
    codigo_cuenta character varying(20) NOT NULL,
    descripcion_cuenta character varying(200),
    descripcion_movimiento text,
    tipo_subcta integer,
    nro_subcuenta numeric,
    tipo_comprobante integer,
    sucursal integer,
    nro_comprobante numeric,
    nombre_tercero character varying(200),
    debe numeric(18,2) DEFAULT 0,
    haber numeric(18,2) DEFAULT 0,
    periodo_anio integer NOT NULL,
    periodo_mes integer NOT NULL,
    fecha_carga timestamp without time zone,
    fecha_carga_original timestamp without time zone,
    descripcion_asiento text,
    referencia character varying(50),
    fecha_cierre timestamp without time zone,
    semestre_cierre integer
);


--
-- Name: TABLE libro_diario_historico; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.libro_diario_historico IS 'Movimientos contables hist├│ricos (cold storage)';


--
-- Name: libro_diario_historico_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.libro_diario_historico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: libro_diario_historico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.libro_diario_historico_id_seq OWNED BY public.libro_diario_historico.id;


--
-- Name: libro_mayor_abierto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.libro_mayor_abierto (
    id bigint NOT NULL,
    id_empresa integer NOT NULL,
    codigo_cuenta character varying(20) NOT NULL,
    periodo_anio integer NOT NULL,
    periodo_mes integer NOT NULL,
    saldo_inicial numeric(18,2) DEFAULT 0,
    total_debe numeric(18,2) DEFAULT 0,
    total_haber numeric(18,2) DEFAULT 0,
    saldo_final numeric(18,2) DEFAULT 0,
    fecha_calculo timestamp without time zone DEFAULT now()
);


--
-- Name: TABLE libro_mayor_abierto; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.libro_mayor_abierto IS 'Saldos mensuales por cuenta - ├║ltimos 6 meses';


--
-- Name: libro_mayor_abierto_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.libro_mayor_abierto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: libro_mayor_abierto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.libro_mayor_abierto_id_seq OWNED BY public.libro_mayor_abierto.id;


--
-- Name: libro_mayor_historico; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.libro_mayor_historico (
    id bigint NOT NULL,
    id_empresa integer NOT NULL,
    codigo_cuenta character varying(20) NOT NULL,
    periodo_anio integer NOT NULL,
    periodo_mes integer NOT NULL,
    saldo_inicial numeric(18,2) DEFAULT 0,
    total_debe numeric(18,2) DEFAULT 0,
    total_haber numeric(18,2) DEFAULT 0,
    saldo_final numeric(18,2) DEFAULT 0,
    fecha_calculo timestamp without time zone,
    fecha_cierre timestamp without time zone,
    semestre_cierre integer
);


--
-- Name: TABLE libro_mayor_historico; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.libro_mayor_historico IS 'Saldos mensuales por cuenta - hist├│rico';


--
-- Name: libro_mayor_historico_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.libro_mayor_historico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: libro_mayor_historico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.libro_mayor_historico_id_seq OWNED BY public.libro_mayor_historico.id;


--
-- Name: log_cargas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.log_cargas (
    id bigint NOT NULL,
    id_empresa integer NOT NULL,
    nombre_archivo character varying(255) NOT NULL,
    periodo_anio integer NOT NULL,
    periodo_mes integer NOT NULL,
    total_registros integer NOT NULL,
    registros_insertados integer DEFAULT 0,
    registros_actualizados integer DEFAULT 0,
    registros_error integer DEFAULT 0,
    estado character varying(50),
    mensaje_error text,
    fecha_inicio timestamp without time zone DEFAULT now(),
    fecha_fin timestamp without time zone,
    usuario character varying(100)
);


--
-- Name: TABLE log_cargas; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.log_cargas IS 'Auditor├¡a de cargas de archivos';


--
-- Name: log_cargas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.log_cargas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: log_cargas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.log_cargas_id_seq OWNED BY public.log_cargas.id;


--
-- Name: v_libro_diario_completo; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_libro_diario_completo AS
 SELECT 'abierto'::text AS origen,
    libro_diario_abierto.id,
    libro_diario_abierto.id_empresa,
    libro_diario_abierto.fecha_asiento,
    libro_diario_abierto.tipo_asiento,
    libro_diario_abierto.nro_asiento,
    libro_diario_abierto.nro_renglon,
    libro_diario_abierto.codigo_cuenta,
    libro_diario_abierto.descripcion_cuenta,
    libro_diario_abierto.descripcion_movimiento,
    libro_diario_abierto.tipo_subcta,
    libro_diario_abierto.nro_subcuenta,
    libro_diario_abierto.tipo_comprobante,
    libro_diario_abierto.sucursal,
    libro_diario_abierto.nro_comprobante,
    libro_diario_abierto.nombre_tercero,
    libro_diario_abierto.debe,
    libro_diario_abierto.haber,
    libro_diario_abierto.periodo_anio,
    libro_diario_abierto.periodo_mes,
    libro_diario_abierto.fecha_carga,
    libro_diario_abierto.fecha_carga_original,
    libro_diario_abierto.descripcion_asiento,
    libro_diario_abierto.referencia
   FROM public.libro_diario_abierto
UNION ALL
 SELECT 'historico'::text AS origen,
    libro_diario_historico.id,
    libro_diario_historico.id_empresa,
    libro_diario_historico.fecha_asiento,
    libro_diario_historico.tipo_asiento,
    libro_diario_historico.nro_asiento,
    libro_diario_historico.nro_renglon,
    libro_diario_historico.codigo_cuenta,
    libro_diario_historico.descripcion_cuenta,
    libro_diario_historico.descripcion_movimiento,
    libro_diario_historico.tipo_subcta,
    libro_diario_historico.nro_subcuenta,
    libro_diario_historico.tipo_comprobante,
    libro_diario_historico.sucursal,
    libro_diario_historico.nro_comprobante,
    libro_diario_historico.nombre_tercero,
    libro_diario_historico.debe,
    libro_diario_historico.haber,
    libro_diario_historico.periodo_anio,
    libro_diario_historico.periodo_mes,
    libro_diario_historico.fecha_carga,
    libro_diario_historico.fecha_carga_original,
    libro_diario_historico.descripcion_asiento,
    libro_diario_historico.referencia
   FROM public.libro_diario_historico;


--
-- Name: v_libro_mayor_acumulado; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_libro_mayor_acumulado AS
 SELECT id_empresa,
    codigo_cuenta,
    periodo_anio,
    periodo_mes,
    sum(total_debe) OVER (PARTITION BY id_empresa, codigo_cuenta ORDER BY periodo_anio, periodo_mes ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS total_debe_acumulado,
    sum(total_haber) OVER (PARTITION BY id_empresa, codigo_cuenta ORDER BY periodo_anio, periodo_mes ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS total_haber_acumulado,
    sum((total_debe - total_haber)) OVER (PARTITION BY id_empresa, codigo_cuenta ORDER BY periodo_anio, periodo_mes ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS saldo_final_acumulado,
    fecha_calculo
   FROM public.libro_mayor_abierto;


--
-- Name: v_libro_mayor_completo; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_libro_mayor_completo AS
 SELECT 'abierto'::text AS origen,
    libro_mayor_abierto.id,
    libro_mayor_abierto.id_empresa,
    libro_mayor_abierto.codigo_cuenta,
    libro_mayor_abierto.periodo_anio,
    libro_mayor_abierto.periodo_mes,
    libro_mayor_abierto.saldo_inicial,
    libro_mayor_abierto.total_debe,
    libro_mayor_abierto.total_haber,
    libro_mayor_abierto.saldo_final,
    libro_mayor_abierto.fecha_calculo
   FROM public.libro_mayor_abierto
UNION ALL
 SELECT 'historico'::text AS origen,
    libro_mayor_historico.id,
    libro_mayor_historico.id_empresa,
    libro_mayor_historico.codigo_cuenta,
    libro_mayor_historico.periodo_anio,
    libro_mayor_historico.periodo_mes,
    libro_mayor_historico.saldo_inicial,
    libro_mayor_historico.total_debe,
    libro_mayor_historico.total_haber,
    libro_mayor_historico.saldo_final,
    libro_mayor_historico.fecha_calculo
   FROM public.libro_mayor_historico;


--
-- Name: v_libro_mayor_consolidado; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_libro_mayor_consolidado AS
 SELECT 0 AS id_empresa,
    'CONSOLIDADO'::text AS empresa,
    codigo_cuenta,
    periodo_anio,
    periodo_mes,
    sum(saldo_inicial) AS saldo_inicial,
    sum(total_debe) AS total_debe,
    sum(total_haber) AS total_haber,
    sum(saldo_final) AS saldo_final,
    max(fecha_calculo) AS fecha_calculo
   FROM public.libro_mayor_abierto
  WHERE (id_empresa <> 0)
  GROUP BY codigo_cuenta, periodo_anio, periodo_mes;


--
-- Name: v_libro_mayor_consolidado_acumulado; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_libro_mayor_consolidado_acumulado AS
 SELECT id_empresa,
    empresa,
    codigo_cuenta,
    periodo_anio,
    periodo_mes,
    saldo_inicial,
    total_debe,
    total_haber,
    saldo_final,
    sum(total_debe) OVER (PARTITION BY codigo_cuenta ORDER BY periodo_anio, periodo_mes ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS total_debe_acumulado,
    sum(total_haber) OVER (PARTITION BY codigo_cuenta ORDER BY periodo_anio, periodo_mes ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS total_haber_acumulado,
    sum(saldo_final) OVER (PARTITION BY codigo_cuenta ORDER BY periodo_anio, periodo_mes ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS saldo_final_acumulado,
    fecha_calculo
   FROM public.v_libro_mayor_consolidado;


--
-- Name: control_periodos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.control_periodos ALTER COLUMN id SET DEFAULT nextval('public.control_periodos_id_seq'::regclass);


--
-- Name: dim_cuenta id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_cuenta ALTER COLUMN id SET DEFAULT nextval('public.dim_cuenta_id_seq'::regclass);


--
-- Name: dim_empresa id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_empresa ALTER COLUMN id SET DEFAULT nextval('public.dim_empresa_id_seq'::regclass);


--
-- Name: libro_diario_abierto id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_abierto ALTER COLUMN id SET DEFAULT nextval('public.libro_diario_abierto_id_seq'::regclass);


--
-- Name: libro_diario_historico id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_historico ALTER COLUMN id SET DEFAULT nextval('public.libro_diario_historico_id_seq'::regclass);


--
-- Name: libro_mayor_abierto id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_abierto ALTER COLUMN id SET DEFAULT nextval('public.libro_mayor_abierto_id_seq'::regclass);


--
-- Name: libro_mayor_historico id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_historico ALTER COLUMN id SET DEFAULT nextval('public.libro_mayor_historico_id_seq'::regclass);


--
-- Name: log_cargas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_cargas ALTER COLUMN id SET DEFAULT nextval('public.log_cargas_id_seq'::regclass);


--
-- Name: account account_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.account
    ADD CONSTRAINT account_pkey PRIMARY KEY (id);


--
-- Name: invitation invitation_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.invitation
    ADD CONSTRAINT invitation_pkey PRIMARY KEY (id);


--
-- Name: jwks jwks_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.jwks
    ADD CONSTRAINT jwks_pkey PRIMARY KEY (id);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (id);


--
-- Name: organization organization_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.organization
    ADD CONSTRAINT organization_pkey PRIMARY KEY (id);


--
-- Name: organization organization_slug_key; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.organization
    ADD CONSTRAINT organization_slug_key UNIQUE (slug);


--
-- Name: project_config project_config_endpoint_id_key; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.project_config
    ADD CONSTRAINT project_config_endpoint_id_key UNIQUE (endpoint_id);


--
-- Name: project_config project_config_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.project_config
    ADD CONSTRAINT project_config_pkey PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (id);


--
-- Name: session session_token_key; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.session
    ADD CONSTRAINT session_token_key UNIQUE (token);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: verification verification_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.verification
    ADD CONSTRAINT verification_pkey PRIMARY KEY (id);


--
-- Name: control_periodos control_periodos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.control_periodos
    ADD CONSTRAINT control_periodos_pkey PRIMARY KEY (id);


--
-- Name: dim_cuenta dim_cuenta_codigo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_cuenta
    ADD CONSTRAINT dim_cuenta_codigo_key UNIQUE (codigo);


--
-- Name: dim_cuenta dim_cuenta_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_cuenta
    ADD CONSTRAINT dim_cuenta_pkey PRIMARY KEY (id);


--
-- Name: dim_empresa dim_empresa_codigo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_empresa
    ADD CONSTRAINT dim_empresa_codigo_key UNIQUE (codigo);


--
-- Name: dim_empresa dim_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dim_empresa
    ADD CONSTRAINT dim_empresa_pkey PRIMARY KEY (id);


--
-- Name: libro_diario_abierto libro_diario_abierto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_abierto
    ADD CONSTRAINT libro_diario_abierto_pkey PRIMARY KEY (id);


--
-- Name: libro_diario_historico libro_diario_historico_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_historico
    ADD CONSTRAINT libro_diario_historico_pkey PRIMARY KEY (id);


--
-- Name: libro_mayor_abierto libro_mayor_abierto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_abierto
    ADD CONSTRAINT libro_mayor_abierto_pkey PRIMARY KEY (id);


--
-- Name: libro_mayor_historico libro_mayor_historico_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_historico
    ADD CONSTRAINT libro_mayor_historico_pkey PRIMARY KEY (id);


--
-- Name: log_cargas log_cargas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_cargas
    ADD CONSTRAINT log_cargas_pkey PRIMARY KEY (id);


--
-- Name: libro_mayor_abierto unique_mayor_abierto; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_abierto
    ADD CONSTRAINT unique_mayor_abierto UNIQUE (id_empresa, codigo_cuenta, periodo_anio, periodo_mes);


--
-- Name: libro_mayor_historico unique_mayor_historico; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_historico
    ADD CONSTRAINT unique_mayor_historico UNIQUE (id_empresa, codigo_cuenta, periodo_anio, periodo_mes);


--
-- Name: libro_diario_abierto unique_movimiento_abierto; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_abierto
    ADD CONSTRAINT unique_movimiento_abierto UNIQUE (id_empresa, fecha_asiento, tipo_asiento, nro_asiento, nro_renglon);


--
-- Name: libro_diario_historico unique_movimiento_historico; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_historico
    ADD CONSTRAINT unique_movimiento_historico UNIQUE (id_empresa, fecha_asiento, tipo_asiento, nro_asiento, nro_renglon);


--
-- Name: control_periodos unique_periodo; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.control_periodos
    ADD CONSTRAINT unique_periodo UNIQUE (id_empresa, periodo_anio, periodo_mes);


--
-- Name: account_userId_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX "account_userId_idx" ON neon_auth.account USING btree ("userId");


--
-- Name: invitation_email_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX invitation_email_idx ON neon_auth.invitation USING btree (email);


--
-- Name: invitation_organizationId_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX "invitation_organizationId_idx" ON neon_auth.invitation USING btree ("organizationId");


--
-- Name: member_organizationId_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX "member_organizationId_idx" ON neon_auth.member USING btree ("organizationId");


--
-- Name: member_userId_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX "member_userId_idx" ON neon_auth.member USING btree ("userId");


--
-- Name: organization_slug_uidx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE UNIQUE INDEX organization_slug_uidx ON neon_auth.organization USING btree (slug);


--
-- Name: session_userId_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX "session_userId_idx" ON neon_auth.session USING btree ("userId");


--
-- Name: verification_identifier_idx; Type: INDEX; Schema: neon_auth; Owner: -
--

CREATE INDEX verification_identifier_idx ON neon_auth.verification USING btree (identifier);


--
-- Name: idx_abierto_cuenta; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_abierto_cuenta ON public.libro_diario_abierto USING btree (codigo_cuenta);


--
-- Name: idx_abierto_empresa_periodo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_abierto_empresa_periodo ON public.libro_diario_abierto USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_abierto_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_abierto_fecha ON public.libro_diario_abierto USING btree (fecha_asiento);


--
-- Name: idx_abierto_tercero; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_abierto_tercero ON public.libro_diario_abierto USING btree (nombre_tercero);


--
-- Name: idx_control_periodos_empresa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_control_periodos_empresa ON public.control_periodos USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_dim_cuenta_activa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dim_cuenta_activa ON public.dim_cuenta USING btree (activa);


--
-- Name: idx_dim_cuenta_codigo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dim_cuenta_codigo ON public.dim_cuenta USING btree (codigo);


--
-- Name: idx_dim_cuenta_rubro; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dim_cuenta_rubro ON public.dim_cuenta USING btree (rubro);


--
-- Name: idx_dim_cuenta_tipo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dim_cuenta_tipo ON public.dim_cuenta USING btree (tipo);


--
-- Name: idx_historico_cuenta; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_historico_cuenta ON public.libro_diario_historico USING btree (codigo_cuenta);


--
-- Name: idx_historico_empresa_periodo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_historico_empresa_periodo ON public.libro_diario_historico USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_historico_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_historico_fecha ON public.libro_diario_historico USING btree (fecha_asiento);


--
-- Name: idx_libro_diario_abierto_composite; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_libro_diario_abierto_composite ON public.libro_diario_abierto USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_libro_mayor_abierto_composite; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_libro_mayor_abierto_composite ON public.libro_mayor_abierto USING btree (id_empresa, codigo_cuenta, periodo_anio, periodo_mes);


--
-- Name: idx_log_cargas_empresa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_log_cargas_empresa ON public.log_cargas USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_log_cargas_empresa_periodo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_log_cargas_empresa_periodo ON public.log_cargas USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_log_cargas_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_log_cargas_fecha ON public.log_cargas USING btree (fecha_inicio);


--
-- Name: idx_mayor_abierto_cuenta; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mayor_abierto_cuenta ON public.libro_mayor_abierto USING btree (codigo_cuenta);


--
-- Name: idx_mayor_abierto_empresa_periodo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mayor_abierto_empresa_periodo ON public.libro_mayor_abierto USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: idx_mayor_historico_empresa_periodo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mayor_historico_empresa_periodo ON public.libro_mayor_historico USING btree (id_empresa, periodo_anio, periodo_mes);


--
-- Name: account account_userId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.account
    ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- Name: invitation invitation_inviterId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.invitation
    ADD CONSTRAINT "invitation_inviterId_fkey" FOREIGN KEY ("inviterId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- Name: invitation invitation_organizationId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.invitation
    ADD CONSTRAINT "invitation_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES neon_auth.organization(id) ON DELETE CASCADE;


--
-- Name: member member_organizationId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.member
    ADD CONSTRAINT "member_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES neon_auth.organization(id) ON DELETE CASCADE;


--
-- Name: member member_userId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.member
    ADD CONSTRAINT "member_userId_fkey" FOREIGN KEY ("userId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- Name: session session_userId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: -
--

ALTER TABLE ONLY neon_auth.session
    ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- Name: control_periodos control_periodos_id_empresa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.control_periodos
    ADD CONSTRAINT control_periodos_id_empresa_fkey FOREIGN KEY (id_empresa) REFERENCES public.dim_empresa(id);


--
-- Name: libro_diario_abierto libro_diario_abierto_id_empresa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_abierto
    ADD CONSTRAINT libro_diario_abierto_id_empresa_fkey FOREIGN KEY (id_empresa) REFERENCES public.dim_empresa(id);


--
-- Name: libro_diario_historico libro_diario_historico_id_empresa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_diario_historico
    ADD CONSTRAINT libro_diario_historico_id_empresa_fkey FOREIGN KEY (id_empresa) REFERENCES public.dim_empresa(id);


--
-- Name: libro_mayor_abierto libro_mayor_abierto_id_empresa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_abierto
    ADD CONSTRAINT libro_mayor_abierto_id_empresa_fkey FOREIGN KEY (id_empresa) REFERENCES public.dim_empresa(id);


--
-- Name: libro_mayor_historico libro_mayor_historico_id_empresa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libro_mayor_historico
    ADD CONSTRAINT libro_mayor_historico_id_empresa_fkey FOREIGN KEY (id_empresa) REFERENCES public.dim_empresa(id);


--
-- Name: log_cargas log_cargas_id_empresa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_cargas
    ADD CONSTRAINT log_cargas_id_empresa_fkey FOREIGN KEY (id_empresa) REFERENCES public.dim_empresa(id);


--
-- Name: SCHEMA pgrst; Type: ACL; Schema: -; Owner: -
--

GRANT USAGE ON SCHEMA pgrst TO authenticator;


--
-- Name: FUNCTION pre_config(); Type: ACL; Schema: pgrst; Owner: -
--

GRANT ALL ON FUNCTION pgrst.pre_config() TO authenticator;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: -
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: -
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict xfYipcGguTBvHupAfkHLLZycocw8AAfuxKsAW0S4Cco5Gf8ub9Wfpc8Aiz8fJXq

